<html>
<link rel="stylesheet" href="css/bootstrap.css">
<script type="text/javascript" src="js/angular.js"></script>

<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<input type="text" ng-model="firstname">
		<br>
		<input type="text" ng-model="lastname">
		<!-- ng-model将变量和值进行双向绑定 -->
		<p>{{firstname+""+lastname}}</p>
		<p>{{fullName()}}</p>
	</div>
	<div id="oneApp" ng-controller="oneCtrl">
		<ul>
			<li ng-repeat="x in names">
				{{x.firstname+""+x.lastname}}
			</li>
		</ul>
	</div>
</body>
<script type="text/javascript">
    // 页面启动时自动装载一个模块，此时模块名称和装载应用的html元素的ng-app配置相同。
    // 一个页面只能装载一个应用，
    var myApp=angular.module("myApp",[]);
	// “oneApp”是模块名称，此时模块名称和装载应用的html元素的ng-app配置相同
	myApp.controller("myCtrl",function($scope){
		// $scope是一个应用对象(属于应用变量和函数)
		$scope.firstname="Bo";
		$scope.lastname="Leng";
		$scope.fullName=function(){
			return $scope.firstname+$scope.lastname;
		}
	});
	// 单个页面只能加载一个应用，如需加载多个应用则必须手动加载，所以下面的模块必须手动加载
	var oneApp=angular.module("suityourself",[]);
	// “suityourself”是模块名称，
	oneApp.controller("oneCtrl",function($scope){
		$scope.names=[
		{firstname:'Bo',lastname:'Leng'},
		{firstname:"San",lastname:'Zhang'}
		];
	});
	// 页面加载完成后,再加载模块
	angular.element(document).ready(function() {
		angular.bootstrap(document.getElementById("oneApp"),["suityourself"]);
		// “oneApp”是装载应用的html元素的id,"suityourself"是模块名称，
	});
</script>
</html>