<html>
<link rel="stylesheet" href="css/bootstrap.css">
<script type="text/javascript" src="js/angular.js"></script>

<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<p>{{myUrl}}</p>
		<p>{{myData}}</p>
		<p>{{myTime}}</p>
	</div>
</body>
<script type="text/javascript">

	angular.module("myApp",[]).service("myService",function(){
   	 //自定义服务
   	 this.getSomeThing=function(parameter){
   	 	console.log(parameter);
   	 }
   	}).controller("myCtrl",function($scope,$location,$http,$timeout,myService){
   		$scope.myUrl=$location.absUrl();
   		$http.get("sender.html").then(function(response){
   			$scope.myData=response.data;
   		});
   		$timeout(function() {
   			$scope.myTime="something coming";
   		}, 4000);
   		myService.getSomeThing("myService coming");
        // 使用自定义服务
    })
</script>
</html>